body,
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper,
input,
select,
textarea,
button,
.ui-btn {
	text-shadow: none !important;
	-webkit-text-shadow: none !important;
	-moz-text-shadow: none !important;
	color:#000;
	font-family: 'Open Sans' !important;
}
.logo {
	
	text-align:center;
	
}

.logo img {
	    display: inline-block;
}
#loginForm {
	margin-top:10px;
}
label {
	font-weight:bold !important;
}
.login form {
	margin:10% 5%;
}
.bar-nav ~ .content {
    padding-top: 65px;
}
.inner {
	padding:2% 5%;
}
.row {
	margin-left: 20px;
    margin-right: 20px;
}
.col-md-12 {
	padding-left:0;
	padding-right:0;
}

.status  {
	margin-top:5px;
}
#services-table tr th,
#services-table tr td {
	text-align:center;
	font-family: 'Open Sans' !important;
	vertical-align: middle;
	font-weight: bold;
}

#services-table tr th.highlighted,
#services-table tr td.highlighted {
	z-index:1000;
	background:#A1A6F1;
	box-shadow: 10px 10px 5px #888;
}

#services-table thead tr th:first-child,
#services-table tbody tr td:first-child {
	text-align:left;
}

#services-table thead tr th,
#services-table tbody tr td.header {
	background:#3388cc;
	font-size:16px;
	font-weight:bold;
	color:#fff;
}
#services-table tbody tr td.price {
	background:#84AEF9;
	font-size:16px;
	font-weight:bold;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	border: 1px solid #aaa;
}
label {
	color:#000;
}
#sellerDetailsTable tr td {
	width:25%;
}
td.label {
	background:#efefef;
	vertical-align: middle;
}

td.label label {
	font-weight:bold;
	text-align:left;
	font-size:16px;
	
}
div.terms {
	color:#000;
}

#signature{
	border: 1px dotted #000;
	color :#000;
}
#signature canvas{
	
	color :#000;
}
#sellerDetailsTable tr td {
	text-align:left;
	width:50%;
	vertical-align:middle;
}
.error {
	font-size:1em !important;
	color:red;
	margin-left:10px !important;
}
.form-control.error {
	border: 1px solid red;
}


.ui-header .ui-title, .ui-footer .ui-title {
	padding:0.2em 0 !important;
	font-size:28px;
	font-weight:bold;
}
.ui-header, .ui-footer {
	height:45px;
}
.btn-default {
	color: #333531 !important;
	font-weight:normal !important;
}
.terms-service {
	margin-left:20px;
}
.terms-price {
	margin-left:30px;
}
.checkbox label::after  {
	margin-left:-18px !important;
}
.checkbox-circle.checkbox label::after  {
	margin-left:-20px !important;
}

.btn-primary {
	background: #3388cc !important;
	color:#fff !important; 
	border: 1px solid #3388cc !important;
}
#customersTable tr td {
	vertical-align:middle;
	font-weight:bold;
}
#photos {
	padding:2% 5%;
}
div.photo-cover {
	width: 100%;
	height: 405px;
    
	padding: 1%;
}
div.photo-cover .cover {
	width: 32%;
    float: left;
    margin-right: 1%;
    border: 1px solid #ccc;
    padding: 1% 1% 0 1%;
    background: #fff;
}
div.photo-cover .cover img {
	width:100%;
	border: 1px solid #eee;
}
div.photo-cover .cover p {
	text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;	
}
.connectionIcon {
	margin-left:20px;
}
.btn.btn-danger,
.btn.btn-primary {
	color:#fff !important;
	margin-bottom: 10px !important;
}
#wizard_example {
	position:relative;
}
#startAgain {
	z-index: 999;    
	position: absolute;
    top: 30px;
    right: 4%;
}
.btn-primary.continue-draft {
	margin-right:10px;
}
.btn.new-sale {
	display:block !important;
}
.btn-lg {
	padding: 16px 16px !important;
    font-size: 24px !important;
}
.ui-loader-default {
	opacity:1;
	width:4.875em;
	height:4.875em;
	background:#fefefe;
}
.ui-loader .ui-icon-loading {
  background-color: #fff; 
  display: block;
  margin: 0 auto;
  width: 4.75em;
  height: 4.75em;
  padding: .0625em;
  
  -webkit-border-radius: 2.25em;
  border-radius: 2.25em;
}

.ui-icon-loading {
  background: url(../images/squares.gif);
  background-size: 4.875em 4.875em;
}
.ui-loader-verbose {
	width:13.5em;
	font-size:20px;
	color:#1160A9;
	font-weight:bold;
}
.checkbox-success label {
	font-weight:normal !important;
}
.bundle .checkbox-success label {
	color:#fff !important;
	font-weight:bold !important;
}
.form-container {
	width: 500px;
    margin: 15px auto;
}
#totalPaymentCheckout {
	text-align:center;
	margin:10px;
	color:#3388cc;
	font-weight:bold;
	font-size:32px;
	
}
div.sale-success {
	width: 400px;
    margin: 0 auto;
    text-align: center;
	
}
div.sale-success p.text-success.icon {
	font-size:20em;
}
div.sale-success p.text-success.text {
	font-size:4em;
}
