body,
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper,
input,
select,
textarea,
button,
.ui-btn {
	text-shadow: none !important;
	-webkit-text-shadow: none !important;
	-moz-text-shadow: none !important;
	color:#000;
	font-family: 'Open Sans' !important;
}
.logo {
	
	text-align:center;
	
}

.logo img {
	    display: inline-block;
}
#loginForm {
	margin-top:10px;
}
label {
	font-weight:bold !important;
}
.login form {
	margin:10% 5%;
}
.bar-nav ~ .content {
    padding-top: 65px;
}
.inner {
	padding:2% 5%;
}
.row {
	margin-left: 20px;
    margin-right: 20px;
}
.col-md-12 {
	padding-left:0;
	padding-right:0;
}

.status  {
	margin-top:5px;
}
#services-table tr th,
#services-table tr td {
	text-align:center;
	font-family: 'Open Sans' !important;
	vertical-align: middle;
}

#services-table tr th.highlighted,
#services-table tr td.highlighted {
	z-index:1000;
	background:#A1A6F1;
	box-shadow: 10px 10px 5px #888;
}

#services-table thead tr th:first-child,
#services-table tbody tr td:first-child {
	text-align:left;
}

#services-table thead tr th,
#services-table tbody tr td.header {
	background:#78A5F3;
	font-size:16px;
	font-weight:bold;
}
#services-table tbody tr td.price {
	background:#B4CAF1;
	font-size:16px;
	font-weight:bold;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	border: 1px solid #aaa;
}
label {
	color:#000;
}
#sellerDetailsTable tr td {
	width:25%;
}
td.label {
	background:#efefef;
	vertical-align: middle;
}

td.label label {
	font-weight:bold;
	text-align:left;
	font-size:16px;
	
}
div.terms {
	color:#000;
}
div.sf-step:nth-child(4) {
	height:480px !important;
}
#signature{
	border: 1px dotted #000;
	color :#000;
}
#signature canvas{
	
	color :#000;
}
#sellerDetailsTable tr td {
	text-align:left;
	width:50%;
	vertical-align:middle;
}
.error {
	font-size:1em !important;
	color:red;
	margin-left:10px !important;
}
.form-control.error {
	border: 1px solid red;
}


.ui-header .ui-title, .ui-footer .ui-title {
	padding:0.2em 0 !important;
	font-size:28px;
	font-weight:bold;
}
.ui-header, .ui-footer {
	height:45px;
}
.btn-default {
	color: #333531 !important;
	font-weight:normal !important;
}
.terms-service {
	margin-left:20px;
}
.terms-price {
	margin-left:30px;
}
.checkbox label::after  {
	margin-left:-18px !important;
}
.checkbox-circle.checkbox label::after  {
	margin-left:-20px !important;
}

.btn-primary {
	background: #3388cc !important;
	color:#fff !important; 
	border: 1px solid #3388cc !important;
}
#customersTable tr td {
	vertical-align:middle;
	font-weight:bold;
}
#photos {
	padding:2% 5%;
}
div.photo-cover {
	width: 415px;
	height: 515px;
    margin: 0 auto;
	    padding: 1%;
}
div.photo-cover img {
	width:100%;
	border:1px solid #ccc;
}
.connectionIcon {
	margin-left:20px;
}
.btn.btn-danger,
.btn.btn-primary {
	color:#fff !important;
}
#startAgain{z-index: 999;}
.btn-primary.continue-draft {
	margin-right:10px;
}
.btn.new-sale {
	display:block !important;
}
.btn-lg {
	padding: 16px 16px !important;
    font-size: 24px !important;
}
